---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Pagina Non Trovata! - 404">
   <section class="w-full h-screen flex flex-col justify-center items-center bg-slate-500">
      <p>404</p>
   </section>
</Layout>
