---
---
<div class=" bg-dark-pattern bg-cover bg-center bg-opacity-40 w-full pt-[10vh] md:pt-0 md:w-1/2 flex flex-col items-center justify-center h-full space-y-4 px-16">
      <a href="https://www.amazon.it/hz/wishlist/ls/3O29S35YSFO0E?ref_=wl_share" class="border border-gold w-full rounded-lg py-4 spacing text-xs text-center bg-main bg-opacity-30  transition-all duration-300 hover:bg-white hover:text-gold backdrop-blur">
         <p>Materiale per Consulti Divinatori</p>
      </a>
      <a href="https://www.amazon.it/hz/wishlist/ls/22HLSUT1WDH5K?ref_=wl_share" class="border border-gold w-full rounded-lg py-4 spacing text-xs text-center bg-main bg-opacity-30  transition-all duration-300 hover:bg-white hover:text-gold backdrop-blur">
         <p>Risorse per Trattamenti Bioenergetici</p>
      </a>
      <a href="https://www.amazon.it/hz/wishlist/ls/PBGJ49Y9OX84?ref_=wl_share" class="border border-gold w-full rounded-lg py-4 spacing text-xs text-center bg-main bg-opacity-30  transition-all duration-300 hover:bg-white hover:text-gold backdrop-blur">
         <p>Strumenti per l'Ufficio</p>
      </a>
      <a href="https://www.paypal.com/donate/?hosted_button_id=3YWBUFU4QPFB6" class="border border-gold w-full rounded-lg py-4 spacing text-xs text-center bg-main bg-opacity-30  transition-all duration-300 hover:bg-white hover:text-gold backdrop-blur">
         <p>PayPal</p>
      </a>
      <a href="https://revolut.me/romina9kr5" class="border border-gold w-full rounded-lg py-4 spacing text-xs text-center bg-main bg-opacity-30  transition-all duration-300 hover:bg-white hover:text-gold backdrop-blur">
         <p>Revolut</p>
      </a>
</div>
<style>
</style>